div.menu-item {
    margin-left: 50px;
    margin-top: 25px;
    

}

.button {
    transition-duration: 0.4s;
    border: none;


  }
  
  .button:hover {
    background-color: #4CAF50;
    color: white;
  }

  
