.play-space-wrapper {float:left; margin:50px}

.card-front {
    -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  box-shadow: 5px 5px 25px #383737;
  display:inline-flex;
  flex-wrap: nowrap;
  margin-inline: 150px;
}

.card-back {
    -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  box-shadow: 5px 5px 25px #383737;
  display:inline-flex;
  flex-wrap: nowrap;
}

.play-space-wrapper {
    border-radius: 25px;
    border: 2px solid whitesmoke;
    padding: 20px; 
    width: 1000px;
    height: 500px;
    /* margin-top: -5px;
    margin-top: 50px; */
    display: flex;
    /* column-gap: 40px; */
    /* color: antiquewhite; */
}

#card-front {
    float: left;
}

.column2 {
    display: inline-flex;
    color: white;
}


